/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;
/* Slick CSS */
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

.nav-active {
    color: #009ce6;
    background-color: #e0f7fa2f;
    border-radius: 10px;
}

.logo-color {
    color: #009ce6;
}

.decoration-primary {
    text-decoration-color: #009ce6;
}

.max-content {
    max-width: max-content;
}
.slick-prev:before, .slick-next:before {
    font-family: 'slick';
    font-size: 30px;
    line-height: 0;
    color: rgb(2, 2, 2);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
